<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/signin.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Title</title>
</head>
<body>
    {% include 'base.html' %}
    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <div class="message_flash">{{ message }}</div>
          <button type="button" class="close" data-dismiss="alert"onclick="this.parentElement.style.display='none'">close</button>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container-fluid" style="background-image: url('../static/images/back.jpg');background-position: 0%; background-size: cover;">
        {% include 'form_signin.html' %}        
    </div>
    {% include 'footer.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>

