<footer class="footer">
  <div class="container">
      <section>
        <div class="row first-row">
          <div class="col-md-2">
              <h4>
                  <a href="#!">About us</a>
              </h4>
          </div>
  
          <div class="col-md-2">
              <h4>
                  <a href="#!">Help</a>
              </h4>
          </div>
  
          <div class="col-md-2">
              <h4>
                  <a href="#!">Contact</a>
              </h4>
          </div>
      </section>
      <section>
          <div class="row">
              <div class="col-lg-8">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui ratione quibusdam accusantium quidem ipsam amet
                      aliquid fugit ipsa obcaecati debitis? Consequatur quasi, hic beatae eaque ullam laborum fugiat fugit doloremque?</p>
              </div>
          </div>
      </section>
      <section class="social">
          <div class="row">
              <div class="col-md-2">
                  <a href="https://www.facebook.com/">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </div>
              <div class="col-md-2">
                  <a href="https://www.twitter.com/">
                      <i class="fab fa-twitter"></i>
                  </a>
              </div>
              <div class="col-md-2">
                  <a href="https://www.instagram.com/">
                      <i class="fab fa-instagram"></i>
                  </a>
              </div>
          </div>
      </section>
  </div>
</footer>

